@model IEnumerable<server.Models.Request>

@{
    ViewBag.Title = "ViewRequests";
}

<h2>ViewRequests</h2>

<p>
    Total requests: @Model.ToList().Count()
    <br/>
    Pending requests: @ViewBag.PendingRequests
</p>

<p>
    @Html.ActionLink("Open collection request", "Open")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssuedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreserveUntil)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.EmployeeId == null)
                {
                    <span>Employee not assigned</span>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssuedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreserveUntil)
            </td>
            <td>
                <!-- @Html.ActionLink("Delete", "Delete", new { id=item.Id }) -->
                <a href="/Request/Delete_Restaurant_Request/@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Back to dashboard", "Dashboard", "Restaurant")
</p>
